<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Aenglo_Sco">

	<listeners>
		<listener class-name="utilities.Reporting" />
	</listeners>


	<test name="Aenglo App Test">
		<parameter name="browser" value="firefox" />
		
	<classes>
			
	<!-- <class name="testCases.TC_001_Resource_Not_Found_Presente_Or_Not" />
	 -->	 	  
	
	<class name="testCases.TC_002_Atleast_one_h1_Test" />
		 	  
	<!-- <class name="testCases.TC_003_Meta_Description_Test" />
	 -->	
	
	<!-- <class name="testCases.TC_004_Title_Test" />
	 -->	 	  
	
	<!-- <class name="testCases.TC_005_alt_in_image_test" />
	 -->	 	  
	<!-- <class name="testCases.TC_006_Response_Time_Test" />
	 -->
	 
	 </classes>

	</test>

</suite>