<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Aenglo_Sco">
<listeners>
		<listener class-name="utilities.Report2" />
	</listeners>
	

	<test name="Aenglo App Test">
		
		<parameter name="browser" value="firefox" />
		 
	 <parameter name="screen" value="wnidow" />
		 
		
	<!-- 	<parameter name="screen" value="mobile" />
	 -->	 
		
		<!--  <parameter name="screen" value="tablet" />
		  -->
		  
		 <parameter name="checkImagealt" value="true" />
		 <parameter name="checkImageblank" value="false" />
		
		<parameter name="checkLinktitle" value="false" />
		<parameter name="checkLinkblank" value="false" />
		
	<classes>
			
	
	 
	 <class name="testCases.TC_Content_Check" />

	
	 </classes>

	</test>

</suite>